<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>jno</servlet-name>
        <servlet-class>jno.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jno</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
</web-app>